@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = "Error";
}


<div class="error_page center-block">
    <img alt="Kidmondo_face_sad" src="http://kidmondo.com/wp-content/themes/kidmondo2/images/kidmondo_face_sad.gif" />
    <h1>We're sorry...</h1>
    <p>The page or journal you are looking for cannot be found.</p>
    <p><a href="http://rent.mlfusion.com">Return to the homepage</a></p>
</div>

