
@{
    ViewBag.Title = "Error Details";
}

<h2>Error Details</h2>

<div class="alert alert-info" role="alert">
    <p>In working progress <span><i class="glyphicon glyphicon-refresh"></i></span></p>
</div>
